/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  padding-left: 20px;
  padding-top: 2px;
  padding-right: 20px;
  padding-bottom: 20px;
}


.session {
 position:absolute;
 width:300px;
 height:400px;
 z-index:15;
 top:35%;
 left:50%;
 margin:-100px 0 0 -150px;
 background: white;
}

.content {
  padding-top: 30px;
}

.nav {
  padding-top: 2px;
}

label {
  width: 50%;
  text-align: left;
}

form {
  display: inline-block;
  text-align: left;
}

.simple_form {
  padding-left: 20px;
  $indent: 120px;
  label {
    float: left;
    width: $indent - 20px;
    text-align: right;
    margin: 20px 10px;
    &.radio, &.checkbox {
      float: none;
      margin: 0;
      width: auto;
      text-align: left;
    }
    &.checkbox {
      display: block;
      margin-left: $indent;
    }
    &.radio { margin-right: 10px; }
  }
  div.input { margin-bottom: 10px;}
  input.radio_buttons, input.check_boxes {
    margin-right: 5px;
  }
  .btn { margin-left: $indent; }
  .alert-error {
    color: #D00;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .hint, .error {
    clear: left;
    margin-left: $indent;
    font-size: 12px;
    color: #D00;
    display: block;
  }
  .hint {
    color: #555;
    font-style: italic;
  }
}

#sticky {
  margin: auto;
  position: fixed;
  z-index:1000;
  top: 0px;
  width: 100%;
  height: 55px;
  top: 0px;
  left: 0px;
  right: 0px;
  /* Adds to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  /* Adds the transparent background */
  background-color: black;
  opacity: 0.8;
}